<div class="copy-box">
    <p><span>其他材料复印</span></p>
    <p class="fwn">{{hint}}</p>
    <div class="scan_card_pic" id="scan_card_bg">
        <div class="scaning_button">
            <a ng-click="saveMaterial()"><img src="images/scaning_button.png" width="106" height="106" alt=""/></a>
        </div>
        <div class="savedPhotoBox" ng-show="savePhoto">
            <img src="{{savedPhoto}}" class="savedPhoto" />
        </div>

    </div>
    <div class="sfz_box">
        <img ng-show="defaultDisplay" src="../libs/common/images/cl.gif" width="700" height="300" alt=""/>
        <a ng-show="defaultHidden" ng-click="reload()"><img src="images/btn_cancel.png" width="245" height="75" alt="" /></a>
        <a ng-show="defaultHidden" ng-click="photoUpload()"><img src="images/btn_save.png" width="245" height="75" alt="" /></a>
    </div>
</div>