<div class="keyWrap">
    <p>
        <span>请将你的key插入插卡槽中</span>
        <span>系统会自动验证您的身份信息</span>
    </p>
    <div class="keyFigure">
        <img src="../libs/common/images/zsup.gif" alt=""/>
    </div>
    <div style="display: none;">
        <p align="center">
            <OBJECT ID="SafeEngineCtl" CLASSID="CLSID:B48B9648-E9F0-48A3-90A5-8C588CE0898F"width="300" height="50" border=0 ></OBJECT>
        </p>
    </div>
    <div style="width: 100%;border: 0;text-align: center;">
        <span>请输入私钥保护密码：</span><input  id = "passWord" type="password" />
    </div>
    <div style="text-align:center;"><a ng-click="validate()";><img src="images/btn_savec.png" width="250" height="80" style="margin-top: 40px" alt=""/></a></div>
</div>
</div>
