<div class="copy_box">
    <p><span>身份证/材料上传</span></p>
    <p class="fwn">{{hint}}</p>
    <div class="scan_card_pic" id="scan_card_bg">
        <div ng-show="frontSide">
            <div class="scaning_button">
                <a ng-click="savedFront()"><img src="images/scaning_button.png" width="106" height="106" alt=""/></a>
            </div>
            <div class="savedPhotoBox" ng-show="saveStatusFront">
                <img ng-src="{{idCardFront}}" class="savedPhoto" />
            </div>
        </div>
        <div ng-show="reverseSide">
            <div class="scaning_button">
                <a ng-click="savedReverse()"><img src="images/scaning_button.png" width="106" height="106" alt=""/></a>
            </div>
            <div class="savedPhotoBox" ng-show="saveStatusReverse">
                <img ng-src="{{idCardReverse}}" class="savedPhoto" />
            </div>
        </div>
        <div ng-show="materialSide">
            <div class="scaning_button">
                <a ng-click="saveMaterial()"><img src="images/scaning_button.png" width="106" height="106" alt=""/></a>
            </div>
            <div class="savedPhotoBox" ng-show="savePhoto">
                <img ng-src="{{savedPhoto}}" class="savedPhoto" />
            </div>
        </div>
    </div>
    <div class="sfz_box">
        <img ng-show="defaultDisplay" src="../libs/common/images/{{sfzorcl}}.gif" width="700" height="300" alt=""/>
        <a ng-show="defaultHidden" ng-click="prev()"><img src="images/btn_cancel.png"/></a>
        <a ng-show="defaultHidden" ng-click="next()"><img src="images/btn_upload_s.png"/></a>
    </div>
</div>
