<div class="reservation_box">
    <p><span>预约时间</span></p>
    <p><img src="images/zi.png" alt="" /></p>
    <div id="datePicker"></div><!--放置日历-->
    <div class="timesArea">
        <a href="" ng-show="moreFiveDisplay" ng-click="prevPage()"><img src="images/rollLeft.png" alt=""/></a>
        <a href="" ng-show="moreFiveDisplay" ng-click="nextPage()"><img src="images/rollRight.png" alt=""/></a>
        <ul class="timesInside">
            <li id="{{i.stDetailId}}" ng-repeat="i in currentTimes" ng-click="checkedTimes(i)">{{i.stShow}}({{i.surplusCount}}/{{i.totalCount}})</li>
        </ul>
    </div>
    <div class="reservationOffice">
        <span>您的预约事项是</span><p class="reservationName" ng-style="lineHeight" ng-bind="stItemName"></p>
    </div>
    <p>
        <a href="#list/{{listId}}"><img src="images/{{returnUpImg}}.png" width="240" height="80" alt=""/></a>
        <a ng-click="orderSubmit()"><img src="images/{{orderSubmitImg}}.png" alt="" style="padding-left:100px;"/></a>
    </p>
</div>



